<%- include('partials/header') -%>
<%- include('partials/navbar') -%>
<div class="container">
  <div class="col-6 mt-10 profile-links">
    <h2 class="main-profile-link">My Posts</h2>
    <span class="profile-span">|</span>
    <a href="/favourites"><h2>Favourites</h2></a>
    <span class="profile-span">|</span>
    <a href="/new_post"><h2>New Bookmark</h2></a>
  </div>

  <!-- display all the posts belonging to the user -->
  <div class="col-12 profile-cards">
    <% for(var i=0; i<bookmarks.length; i++) {%>
        <div class="col-4 mt-10">
          <div class="max-w-sm rounded overflow-hidden shadow-lg">
            <a href="/bookmark/<%= bookmarks[i]._id%>"><img class="profile-image" src="<%= bookmarks[i].image%>" alt=""></a>
            <div class="px-6 py-4">
              <a href="<%= bookmarks[i].link%>"><div class="font-bold text-xl mb-2 text-center"><%= bookmarks[i].title%></div></a>
            </div>
            <div>
              <form
                action="/bookmark/deleteBookmark/<%= bookmarks[i]._id %>?_method=DELETE"
                method="POST"
                class="col-3"
              >
                <button class="btn btn-primary fa fa-trash trash-button" type="submit"></button>
              </form>
            </div>
          </div>
        </div>
    <% } %>
  </div>
</div>
  
<%- include('partials/footer') -%>